@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --test: #00cda1;
  --timer-bg: #ffffff;
  --card: #eaeaea;
  --text: #ffffff;
  --button-primary: #1976D2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-test: var(--test);
  --color-card:var(--bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-text: var(--text);
  --color-button-primary: var(--button-primary);
}

/*

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mesh {
  background-color:#ffdb99;
  background-image:
radial-gradient(at 52% 50%, hsla(76,88%,74%,1) 0px, transparent 50%),
radial-gradient(at 42% 94%, hsla(123,92%,72%,1) 0px, transparent 50%),
radial-gradient(at 97% 60%, hsla(255,80%,72%,1) 0px, transparent 50%),
radial-gradient(at 5% 89%, hsla(1,88%,67%,1) 0px, transparent 50%),
radial-gradient(at 2% 60%, hsla(243,60%,66%,1) 0px, transparent 50%),
radial-gradient(at 36% 72%, hsla(163,98%,66%,1) 0px, transparent 50%),
radial-gradient(at 10% 85%, hsla(20,64%,78%,1) 0px, transparent 50%);
}

.mesh::after {

  content: "";
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);

}


